@model IEnumerable<Lab_AWS.Models.Product>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Thông tin sản phẩm</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm </th>
            <th>Công ty cung cấp </th>
            <th> Bảng giá</th>
            <th>Số lượng trong kho</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IdProduct">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
